<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <fa-icon [icon]="icon"></fa-icon>

            <i class="bi bi-heart"></i>
        </ul>

      </div>
    </div>


  </nav> -->

<nav class="nav">
  <div class="topNav">
    <div class="left"></div>
    <div class="mid">
      <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
      <a>ShopNow</a>
    </div>
    <div class="language">
      <a href="">English ></a>
    </div>
  </div>
  <div class="bottom">
    <div class="logo">
      <h3>SnapShop</h3>
    </div>
    <div class="Middletext">
      <ul class="navLink">
        <li>
          <a
            *ngFor="let nav of headerText; let i = index"
            (click)="onClick(i)"
            >{{ nav.name }}</a
          >
        </li>
      </ul>
    </div>
    <div class="Search-icon">
      <ul class="search">
        <li>
          <div class="search1">
            <!-- <div>
              <input
                type="text"
                placeholder="what are you looking for ..."
                required
              />
            </div> -->

            <div class="input-group searchgroup">
              <input
                type="text"
                class="form-control"
                placeholder="what are you looking for?"
              />
              <div class="input-group-append">
                <button class="" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="icon-header">
          <!-- <i class="fa-regular fa-heart"></i> -->
          <i class="ri-shopping-cart-2-line"></i>

          <i *ngIf="true" class="ri-user-3-line"></i>

          <!-- <i  class="fa-regular fa-user"></i>   -->

          <div class="dropdown">
            <button
              class="dropDownIcon"
              type="button"
              id="dropdownMenuButton2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-list"></i>
              <!-- Menu icon (hamburger icon) -->
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" routerLink="/home">Home</a></li>
              <li>
                <a class="dropdown-item" routerLink="/contact">Contact</a>
              </li>
              <li><a class="dropdown-item" routerLink="/about">About</a></li>
              <li>
                <a class="dropdown-item" routerLink="/sign-up">Sign Up</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" routerLink="/cart">Add to cart</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/other">Separated link</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
