/* @import "~bootstrap-icons/font/bootstrap-icons.css" */

.nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1005;
  /* background-color: red; */
  /* position: fixed; */
}


.navbar{
  top: 35px;
  box-shadow: 0px 0px 0px 1px rgba(99, 97, 97, 0.05),
  inset 0px 0px 0px 1px rgb(222, 227, 235);
}


.topNav {
  height: 35px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 12px;
  align-items: center;
}

.mid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 10px;
  align-items: center;
}

.mid p {
  margin-top: 15px;
  text-align: center;
}
.mid a {
  color: white;
  text-decoration: none;
}
.language {
  align-items: center;
}

.language a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.bottom {
  padding-top: 22px;

  height: 85px;
  width: 100%;
  border-bottom: 1px solid rgb(168, 164, 164);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px rgba(99, 97, 97, 0.05),
    inset 0px 0px 0px 1px rgb(222, 227, 235);
  /* background-color: red; */
}

.logo h3 {
  margin-bottom: 0.7em;
  cursor: pointer;
  transition: 0.18s;
}
.logo h3:hover {
  /* font-size: 2em;  */
  transform: scale(1.05);
}

.Middletext ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  color: black;
  align-items: center;
  /* margin-top: 20px; */
}

.navLink a {
  /* background-color: red; */
  padding: 0px 20px;
  font-size: 18px;
}

.nav_Link a:hover,
.ri-user-3-line:hover,
.ri-menu-3-fill:hover,
.ri-shopping-cart-2-line:hover {
  /* background-color: red; */
  color: #d74048;
  scale: 1.08;
  transition: 0.3s;
  /* border: 1px solid #D74048; */
}

.Middletext a {
  color: black;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.icon-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  margin-top: 5px;
}

.ri-user-3-line {
  font-size: 20px;
  /* border: 1px solid black; */
  /* padding: 3px 7px; */
  /* border-radius: 50px; */
  /* background-color: #DB4444; */
  /* color: rgb(233, 220, 220); */
  /* box-shadow: 1px 1px 10px rgb(99, 96, 96); */
}

.ri-menu-3-fill {
  font-size: 20px;
  font-weight: 600;
  display: none;
}

.ri-shopping-cart-2-line {
  font-size: 20px;
}
/* Default color for icons */
.icon-header a {
  color: black; /* Use your desired color */
  text-decoration: none;
}

/* Color for active links */
.active-link {
  color: #007bff; /* Change this to your desired active color */
}

/* Optional: Add transition for smooth color change */
.icon-header a {
  transition: color 0.3s ease;
}
/* .navLink li a {
  cursor: pointer; 
} */

/* okdjfdkfvd */

/* .search {
  margin: 20px;
}

.search1 > div {
  display: inline-block;
  position: relative;
}

.search1 > div:after {
  content: "";
  background: rgb(24, 23, 23);
  width: 4px;
  height: 10px;
  position: absolute;
  top: 23px;
  right: -2px;
  transform: rotate(135deg);
}

.search1 > div > input {
  margin-top: 7px;
  color: rgb(17, 16, 16);
  font-size: 16px;
  background: transparent;
  width: 15px;
  height: 20px;
  padding: 10px;
  border: solid 1px rgb(27, 26, 26);
  outline: none;
  border-radius: 50px;
  transition: width 0.5s;
}

.search1 > div > input::placeholder {
  color: #424040;
  opacity: 0;
  transition: opacity 150ms ease-out;
  font-size: 10px;
  padding: 5px;
}

.search1 > div > input:focus::placeholder {
  opacity: 1;
}

.search1 > div > input:focus,
.search1 > div > input:not(:placeholder-shown) {
  width: 250px;
} */

/* search  */

.searchgroup {
  margin-top: 10px;
}

.searchgroup input {
  border: none;
  background-color: #f5f5f5;
  width: 14vw;
  height: 40px;
}

.searchgroup button {
  height: 40px;
  border: none;
  width: 40px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.dropdown {
  display: none;
}

.dropDownIcon {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.dropdown-menu {
  border: none;
  background-color: rgb(63, 61, 61);
}

.dropdown-item {
  color: rgb(209, 198, 198);
}

@media (max-width: 990px) {
  .Middletext {
    display: none;
  }

  
  .dropdown {
    display: block;
  }

  .bottom {
    justify-content: space-between;
    padding: 0px 4vw;
  }
}

@media (max-width: 445px) {
  .language {
    display: none;
  }
}

@media (max-width: 390px) {
  .mid p {
    display: none;
  }

  .mid {
    justify-content: none;
    text-align: center;
    margin-right: 30vw;
    text-decoration: underline;
  }
}


.nav-link:hover,
.fw-lighter:hover{
  color: var(--button-color)!important;
  cursor: pointer;
  scale: 1.03;
  transition: 0.3s;
}



.logout-parent {
  display: flex;
}

.btn-primary {
  background-color: var(--button-color);
  border: none;
  box-shadow: none;
  text-transform: lowercase;
}

.btn-primary:hover {
  scale: 1.04;
  transition: 0.1s;
  box-shadow: none;
}

/* cart Item Number */
.cartItemNumber {
  color: rgb(240, 234, 234);
  font-size: 13px;
  background-color: var(--button-color);
  padding: 1px 6px;
  border-radius: 35px;
  /* margin-bottom: 100px; */
  position: absolute;
}

/* bootstrap */


/* .navbar-toggler-icon{
  color: black;
  border: 2px solid red;
} */

/* #header{
  background: url("../../assets/images/banner-img-1.jpg") top/cover no-repeat;
} */
.carousel-inner h1{
  font-size: 60px;
  font-family: var(--lg-font);
}
.carousel-item .btn{
  border-color: #fff!important;
}
.carousel-item .btn:hover{
  border-color: pink !important;
}

/* title */
.title h2::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--pink);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}


.btn{
  box-shadow: none !important;
}

.bg-primary {

  background-color: var(--button-color) !important;
  border-radius: 35px!important;
};

.navbar{
  font-family: "Trebuchet MS", sans-serif !important;
}




