<nav class="nav">
  <div class="topNav">
    <div class="left"></div>
    <div class="mid">
      <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
      <a>ShopNow</a>
    </div>
    <div class="language">
      <a>English ></a>
    </div>
  </div>
</nav>


<nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
       
  <div class = "container">
      <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0">
          <img src = "../../assets/images/shopping-bag-icon.png" alt = "site icon">
          <span class = "fw-lighter ms-2" (click)="homeClick()">SnapShop</span>
      </a>

      <div class = "order-lg-2 nav-btns">
        
          
        <button type = "button" class = "btn position-relative">
          <div class="search-container">
            <div class="input-group searchgroup">
              <input
                type="text"
                class="form-control"
                (input)="onSearch($event)"
                placeholder="What are you looking for?"
              />
              <span class="input-group-text search-icon">
                <i class="fa fa-search"></i>
              </span>
              <ul class="suggestions" *ngIf="filteredItems.length > 0">
                <li *ngFor="let item of filteredItems" class="border-bottom border-dark">
                  <a
                    [routerLink]="['product-details', item.id]"
                    (click)="clearSearch()"
                    class="text-decoration-none d-block py-2 px-3 text-dark"
                    >{{ item.title }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
      </button>


          <button type = "button" class = "btn position-relative shoppingIcon" routerLink="/cart" routerLinkActive="active">
            <i class="ri-shopping-cart-2-line" ></i>
              <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary" *ngIf="isLoggedIn">{{currentCartItem}}</span>
          </button>
          <button type = "button" class = "btn position-relative shoppingIcon" routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn">
            <i class="ri-user-3-line"></i>
          </button>
          <button class="btn btn-primary" (click)="logout()" *ngIf="isLoggedIn" >log out</button>
         
      </div>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <i class="ri-menu-3-line"></i>
    </button>

    <div class="collapse navbar-collapse order-lg-1" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">
        <li
          class="nav-item px-2 py-2"
          *ngFor="let nav of headerText; let i = index"
        >
          <a
            class="nav-link text-dark"
            *ngIf="nav.name !== 'login' || !isLoggedIn"
            [routerLink]="
              nav.name === 'Products'
                ? '/product-list'
                : '/' + nav.name.toLowerCase()
            "
            routerLinkActive="active"
          >
            {{ nav.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->

<!-- header -->


<style>




</style>
