<nav class="nav">
  <div class="topNav">
    <div class="left"></div>
    <div class="mid">
      <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
      <a>ShopNow</a>
    </div>
    <div class="language">
      <a href="">English ></a>
    </div>
  </div>
  <div class="bottom">
    <div class="logo">
      <h3 (click)="homeClick()">SnapShop</h3>
    </div>
    <div class="Middletext">
      <ul class="navLink">
        <li>
          <a
            *ngFor="let nav of headerText; let i = index"
            (click)="onClick(i)"
            >{{ nav.name }}</a
          >
        </li>
      </ul>
    </div>
    <div class="Search-icon">
      <ul class="search">
        <li>
          <div class="search1">
            
            <div class="input-group searchgroup">
              <input
                type="text"
                class="form-control"
                placeholder="what are you looking for?"
              />
              <div class="input-group-append">
                <button class="" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="icon-header">
          <!-- <i class="fa-regular fa-heart"></i> -->
          <a routerLink="/cart" routerLinkActive="active-link">
            <i class="ri-shopping-cart-2-line"><span class="cartItemNumber">{{currentCartItem}}</span></i>
          </a>

          <a routerLink="/profile" routerLinkActive="active-link">
            <i class="ri-user-3-line"></i>
          </a>

          <!-- <i  class="fa-regular fa-user"></i>   -->

          <div class="dropdown">
            <button
              class="dropDownIcon"
              type="button"
              id="dropdownMenuButton2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-list"></i>
              <!-- Menu icon (hamburger icon) -->
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" routerLink="/home">Home</a></li>
              <li>
                <a class="dropdown-item" routerLink="/contact">Contact</a>
              </li>
              <li><a class="dropdown-item" routerLink="/about">About</a></li>
              <li>
                <a class="dropdown-item" routerLink="/sign-up">Sign Up</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" routerLink="/cart">Add to cart</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/other">Separated link</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
