body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 10px;
  width: 90%;
  max-width: 1200px;
  flex-direction: row;
}

.image-section {
  flex: 1;
  text-align: center;
  padding: 100px;
}

.image-section img {
  width: 110%;
  max-width: auto;
  height: auto;
}
.form-section {
  flex: 1;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section h2 {
  margin-top: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.form-section p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  outline: none;
  flex: 1;
  margin-bottom: 10px;
  width: 99%;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom-color: #160901;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 99%;
}

button[type="submit"]:hover {
  scale: 1.02;
  transition: 0.5s;
}

.bottom p {
  text-align: center;
  margin-top: 10px;
  color: #565151;
}

.bottom a {
  color: #000000;
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}
