/* .container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.billing-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}
.input-group {
    margin-bottom: 15px;
}
.input-label {
    display: block;
    margin-bottom: 5px;
}
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}
.order-summary {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}
.order-summary table {
    width: 100%;
}
.order-summary table th,
.order-summary table td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
} */



.order-summary .payment-methods {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.order-summary .payment-methods img {
    width: 50px;
}
#couponCode{
    width: 20vw;
}