.order-summary .payment-methods {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.order-summary .payment-methods img {
  width: 50px;
}
#couponCode {
  width: 20vw;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
  background-color: #f5f5f5;
  box-shadow: none !important;
}
.card {
  border: none btn;
}
#save-info:checked {
  background-color: rgb(201, 62, 7);
  border: none;
}
.d-flex img {
  transition: 0.3s;
}
.d-flex img:hover {
  transform: scale(1.25);
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}
.form-text {
  color: red;
}

.btn-primary,
.btn-primary:hover {
  background-color: #db4444;
  box-shadow: none;
  border: none;
  transition: 0.3s;
}
.btn-primary:hover {
  transform: scale(1.05);
}

.btn {
  background-color: var(--button-color) !important;
  box-shadow: none !important;
}

.btn:hover {
  scale: 1.04 !important;
  transition: 0.4s !important;
}
