

.order-summary .payment-methods {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.order-summary .payment-methods img {
    width: 50px;
}
#couponCode{
    width: 20vw;
}
.form-control {
    border-radius: 0 !important; /* Remove border-radius */
    border: none !important;     /* Remove borders */
    background-color: #F5F5F5;   /* Set background color */
    box-shadow: none !important; /* Remove box-shadow */
  }
  .card{
    border: none !important;     /* Remove borders */
  }