.card-wrapperr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0;
  width: 95%;
  padding: 50px;
  margin-left: 20px;
}

.card {
  border: none;
  margin-left: 10px;
  margin-bottom: 20px;
  /* color: yellowgreen; */
}

.tittle-section {
  margin-left: 50px;
  margin-top: 30px;
}

.Day {
  display: flex;
  gap: 10px;
  align-items: normal;
}

.Day p {
  font-size: 0.9em;
  color: #db4444;
}

.box {
  height: 28px;
  width: 14px;
  background-color: #db4444;
  border-radius: 3px;
}

.Tittle {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
