.card1{
    background-color: white;
    height: 290px;
    width: 240px;
    border-radius:2px;
}

.img-box{
    background-color: #F5F5F5;
    text-align: center;
    height: 170px;
}

.img-box:hover .addToCart{
    display: block;
    transition: 1s;
}

.card1:hover{
    scale: 1.08;
    transition: 0.5s;
}




.img-box img{
    width: 140px;
}


.addToCart{
    width: 100%;
    height: 20%;
    background-color: black;
    margin-top: 12px;
    text-align: center;
    display: none;
}

.addToCart a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-top: 5px;
   
    
}

.topsectionforcart{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius:2px;
    height: 40px;
    align-items: center;

}
.thumb-content{
    padding: 0px 0px 0px 5px;
}

.thumb-content h4{
    padding: 8px 0px 0px 0px;
    font-size: 13px;
}

.item-price span{

    font-size: 13px;
    color: #DB4444;
    margin-top: -5px;

}

.ri-heart-3-line{
    
    padding: 4px;
    background-color: white;
    border-radius: 35px;
}

.list-inline{

    font-size: 12px;
    margin-top: -12px;
    color: orange;

}

.count{
    color: #A3A3A3;
}

.discountbutton{
    height:20px;
    width: 40px;
    border-radius: 3px;
    font-size: 10px;
    background-color:#DB4444 ;
    color: white;
    border: none;
}

.topsectionforcart{
    background-color: #F5F5F5;
}