<div class="col-sm-3  card1">
    <div class="thumb-wrapper">


        <div class="topsectionforcart">
        <span class="wish-icon discount"><button class="discountbutton">-40%</button></span>
        <span class="wish-icon"><i class="ri-heart-3-line"></i></span>
        </div>



        <div class="img-box">
            <img  src="../assets/CardImg/rem.png" class="img-fluid" alt="Watch">
            <div class="addToCart">
                <a href="">Add to Cart</a>
            </div>
        </div>
        <div  class="thumb-content">
            <h4 (click)="onClick()">HAVIT HV-G92 Gamepad</h4>
            <p class="item-price"><span>$120 </span></p>
            <div class="star-rating">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    <li class="list-inline-item count">(80)</li>
                </ul>
            </div>
            <!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
        </div>						
    </div>
</div>