#carouselExampleIndicators {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.carousel-control-next-icon::after,
.carousel-control-prev-icon::after {
 
  display: none;
}
.text-left{
  /* background-color: red; */
  height: 35vh;
  width: 60%;
}

.text-left h2 {
  font-size: 3vw;
}

.text-left a {
  text-decoration: underline;
  font-size: 15px;
}
.text-at-top {
  font-size: 15px;
  margin-left: 15px;
}

.carousel-indicators {
  margin-bottom: 50px;
}

.carousel-indicators button {
  width: 8px;
  height: 8px;
}
.carousel-inner {
  margin-top: 30px;
  width: 80%;
  margin-bottom: 30px;
  border: none !important;
}

.carousel-inner .images {
  width: 80vw;
  height: 45vh;
  background-color: black;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(5, 0, 0);
}

.imagesection {
  width: 50%;
  height: 90%;
}

.carousel-item img {
  /* position: cover; */
  height: 100%;
  width: 100%;
}

.row {
  height: 80%;
  width: 80%;
  /* background-color: green; */
}

.carousel-item .text-left {
  padding: 20px;
}

.carousel-item h2,
.carousel-item h1,
.carousel-item a.btn {
  color: white;
}



@media (max-width: 767px) {
  .carousel-item .text-left {
    text-align: center;
  }

  .carousel-inner .images {
    height: auto;
    align-items: center;
    max-height: 40vh;
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
