<div class="Login-container">
  <div class="image-section">
    <img src="assets/shopping-image.png" alt="Shopping" />
  </div>

  <div class="form-section">
    <div class="form-box">
      <h2>Log in to SnapShop</h2>
      <p>Enter your details below</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input
          type="text"
          name="username"
          placeholder="Username"
          formControlName="username"
          required
        />
        <input
          type="password"
          password="password"
          placeholder="Password"
          formControlName="password"
          required
        />

        <div class="button-group">
          <button class="btn" type="submit" [disabled]="!loginForm.valid">
            Log In
          </button>
          <div class="forgot">
            <a routerLink="/sign-up">Dont have account ?sign Up</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
