body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* font-family: Arial, sans-serif; */
  background-color: #f4f4f4;
  padding: 0;
  width: 100%;
}

.Login-container {
  /* background-color: red; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  /* padding: 10px;  */
  width: 97%;
  /* max-width: 1200px;  */
  flex-direction: row;
  margin: 30px 25px 80px 30px;
}

.Login-container .image-section {
  /* flex: 1;  */
  /* padding: 100px;*/

  height: 100%;
  width: 55%;
  background-color: green;
}

.image-section img {
  width: 100%;
  height: 100%;
  /* max-width: auto;  */
}

.form-section {
  height: 100%;
  width: 36%;
  /* background-color: green; */

  /* flex: 1; */
  /* padding: 30px 20px;  */

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #ffffff; */
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.form-box{
    height: 60%;
    width: 90%;
    background-color: white;
    
}

.form-section h2 {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
 
}

.form-section p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 450;

  /* color: #666; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}




input[type="text"],
input[type="password"] {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  outline: none;
  flex: 1;
  margin-bottom: 12px;
  width: 99%;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom-color: #000000;
}

.forgot {
    margin-right: 20px;
  
  text-align: left;
  
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 15px;
}

button[type="submit"] {
  padding: 8.5px 45px;
  background-color: #DB4444;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}

.button-group button:hover{
    scale: 1.05;
    transition: 0.3s;
}









a {
  color: #DB4444;;
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}