
    <div class="fullLoginPage">
      <div class="imageSectionloginPage">
        <img src="../../../assets/shopping-image.png">
      </div>

      <div class="LoginForm">
       
          <div class="form-class">
            <h2>Log in to SnapShop</h2>
            <p>Enter your details below</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <input
                type="text"
                name="username"
                placeholder="Username"
                formControlName="username"
                required
              />
              <span class="text-danger">Username is Required*</span>
              <input
                type="password"
                password="password"
                placeholder="Password"
                formControlName="password"
                required
              />
              <span class="text-danger">Password is Required*</span>


              <div class="button-group">
                <button class="btn" type="submit" [disabled]="!loginForm.valid">
                  Log In
                </button>
                <div class="forgot">
                  <a routerLink="/sign-up">Don't have account?<span class="signUp"> sign Up</span></a>
                </div>
              </div>
            </form>
          </div>
        
      </div>
    </div>
 
