.container {
  max-width: 960px;
}

table {
  width: 100%;
}

.btn-primary,
.btn-secondary {
  width: 100%;
}
.checkout-card .card {
  width: 28rem;
}
.fa-trash {
  color: var(--button-color);
  font-size: 20px;
  transition: 0.3s;
}
.fa-trash:hover {
  transform: scale(1.15);
}

/* app.component.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.modal-content h4 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}

.content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

button {
  transition: 0.3s;
}
.btn-primary,
.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--button-color);
  color: white;
  box-shadow: none;
  border: none;
}
.btn-primary:hover {
  transform: scale(1.05);
}
.btn-secondary {
  background-color: transparent;
  color: black;
  transition: 0.3s;
}
.btnProcess {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
}
