

    <div class="main">






        <div class="FirstSectionTop">

            
            <div class="rightListBar">

                <ul class="listofContent">
                    
                </ul>

            </div>


            
        <div id="carouselExample" class="carousel slide" data-mdb-ride="carousel">


           <div class="carousel-inner">
             <div class="carousel-item active">
               <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.jpg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
               <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.jpg" class="d-block w-100" alt="...">
             </div>
           </div>
           <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExample" data-mdb-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-mdb-target="#carouselExample" data-mdb-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
           </button>
         </div>

         <div class="helo">
            <h3>Up to 10% Voucher</h3>
            <a href="">Shop now -></a>
         </div>




        </div>


       

        <!-- slide card -->
        

       
        <!-- <div class="slider" style="height: 500px; width: 100%; background-color: red;">

            
           
          </div> -->


<!--   
          <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
             
               
              <app-card></app-card>
              <app-card></app-card>
              <app-card></app-card>
            </div>
            <div class="carousel-item">
             
              <app-card></app-card>
              <app-card></app-card>
              <app-card></app-card>
            </div>
            <div class="carousel-item">
             
              <app-card></app-card>
              <app-card></app-card>
              <app-card></app-card>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          
          -->
        
        
        <!-- slide card -->









        <!-- dsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->

        <div class="FlashSaleSection">


            <div class="slider">

            <div class="Day">
                <div class="box"></div>
                <p>Today's</p>
                
            
            </div>
            <div class="Tittle">Flash Sale</div>


            <div class="CardList">

                <!-- jdsjdsjdj -->

               
                <!-- jdsjdsjdj -->
                

           

                           <app-card></app-card>
                           <app-card></app-card>
                           <app-card></app-card>
                           <app-card></app-card>
                          
                          
                           <!-- <app-card></app-card> -->
                         
<!--  -->
            </div>

        </div>


        <div class="buttonViewProduct">
            <button class="buttonView">View all Products</button>
        </div>


       <div class="horizontalLine">

       </div>
       

               
                

        </div>










        <div class="FlashSaleSection categorysection">


            <div class="slider">

            <div class="Day">
                <div class="box"></div>
                <p>Categories</p>
                
            
            </div>
            <div class="Tittle catTittle">Browse By Category</div>


            <div class="CardList">

           

                           <app-category></app-category>
                           <app-category></app-category>
                           <app-category></app-category>
                           <app-category></app-category>
                           <app-category></app-category>
                           <app-category></app-category>
                          
                           
                         
<!--  -->
            </div>

            <div class="horizontalLine-hrcategory">

            </div>

        </div>


        
       

               
                

        </div>








        <div class="FlashSaleSection">


            <div class="slider">

            <div class="Day">
                <div class="box"></div>
                <p>This Month</p>
                
            
            </div>


            <div class="tittle-bar-forTop-rated">

                <div class="Tittle">Top Rated Products</div>
            <div class="buttonViewProduct">
                <button class="buttonView">View all</button>
            </div>


            </div>
            


            <div class="CardList">

           

                           <app-card class="cartzoom"></app-card>
                           <app-card class="cartzoom"></app-card>
                           <app-card class="cartzoom"></app-card>
                           <app-card class="cartzoom"></app-card>
                         
<!--  -->
            </div>

        </div>


       
       

               
                

        </div>


        <!-- 

            enhence exp
         -->

         <div class="Enhance-Your-Product-Section">

            <div class="Left-text-section">
                <p>Category</p>
                <h3>Enhance Your Music Experience</h3>
                <ul class="time">
                    


                    
                    <li><span class="number">23</span> <br>Hours</li>
                    <li><span class="number">05</span> <br>Days</li>
                    <li><span class="number">59</span> <br>minutes</li>
                    <li><span class="number">35</span> <br>seconds</li>
                    
                </ul>
                <button class="buy-now-btn">Buy Now</button>
            </div>
            <div class="right-img-section">
                <img src="../assets\CardImg\jbl.png" alt="">
            </div>



         </div>






         <!-- our product -->

         <!-- Explore our product start  -->

         <div class="FlashSaleSection Explore-product">


            <div class="slider">

            <div class="Day">
                <div class="box"></div>
                <p>Our Products</p>
                
            
            </div>


            <div class="tittle-bar-forTop-rated">

                <div class="Tittle">Explore Our Products</div>
           

            </div>
            


            <div class="CardList">

           

                           <app-card class="cartzoom"></app-card>
                           <app-card class="cartzoom"></app-card>
                           <app-card class="cartzoom"></app-card>
                           <app-card class="cartzoom"></app-card>
                         
<!--  -->
            </div>

            <div class="CardList">

           

                <app-card class="cartzoom"></app-card>
                <app-card class="cartzoom"></app-card>
                <app-card class="cartzoom"></app-card>
                <app-card class="cartzoom"></app-card>
              
<!--  -->
           </div>



        </div>


       
       
        <div class="buttonViewProduct">
            <button class="buttonView">View all Products</button>
        </div>

               
                

        </div>
         <!-- Explore our product end  -->


         <!-- new Arival start  -->

         <div class="FlashSaleSection newarrivalSec">


            <div class="slider">

            <div class="Day">
                <div class="box"></div>
                <p>Featured</p>
                
            
            </div>
            <div class="Tittle catTittle">New Arival</div>


            <div class="newArival">



             <div class="box1 box1left">

                <div class="bg-image" style="max-width: 22rem; margin: 35px;">
                    <img src="./assets\newAribal\img1.png"/>
                    <div class="mask text-light d-flex justify-content-end flex-column " style="background-color: rgba(0, 0, 0, 0.5)">
    
                      <h4 style="font-weight: bold;">PlayStation 5</h4>
                      <h5 style="color: rgb(139, 142, 145);">Black and White version of the PS5 coming out on sale.</h5>
                      <a href="" style="color: white;">Shop Now</a>
                    </div>



                  </div>



             </div>
             <div class="box1">

                <div class="boxright boxrighttop">
                    <div class="bg-image" style="max-width: 27rem; margin: 25px;">
                        <img src="./assets\newAribal\img2.png" />
                        <div class="mask text-light d-flex justify-content-end flex-column " style="background-color: rgba(0, 0, 0, 0.5)">
        
                          <h4 style="font-weight: bold;">Women’s Collections</h4>
                          <h5 style="color: rgb(139, 142, 145);">Featured woman collections that give you another vibe.</h5>
                          <a href="" style="color: white;">Shop Now</a>
                        </div>
    
    
    
                      </div>

                </div>
                <div class="boxright ">

                    <div class="boxright-bottom">

                        <div class="bg-image" style="max-width: 22rem; margin: 15px;">
                            <img src="./assets\newAribal\img 5.png" style="text-align: left;width:90%;"/>
                            <div class="mask text-light d-flex justify-content-end flex-column " style="background-color: rgba(0, 0, 0, 0.5)">
            
                              <h4 style="font-weight: bold;">Speakers</h4>
                              <h5 style="color: rgb(139, 142, 145);">Black and White version of the PS5 coming out on sale.</h5>
                              <a href="" style="color: white;">Shop Now</a>
                            </div>
        
        
        
                          </div>

                    </div>
                    <div class="boxright-bottom">
                        <div class="bg-image" style="max-width: 22rem; margin: 15px;">
                            <img src="./assets\newAribal\img 6.png" style="text-align: left;width:100%;"/>
                            <div class="mask text-light d-flex justify-content-end flex-column " style="background-color: rgba(0, 0, 0, 0.5)">
            
                              <h4 style="font-weight: bold;">Perfume</h4>
                              <h5 style="color: rgb(139, 142, 145);">GUCCI INTENSE OUD EDP.</h5>
                              <a href="" style="color: white;">Shop Now</a>
                            </div>
        
        
        
                          </div>

                    </div>


                </div>
             </div>
           

                           
                          
                           
                         
<!--  -->
            </div>

            <div class="horizontalLine-hrcategory">

            </div>

        </div>


        
       

               
                

        </div>




         
         <!-- new Arival end  -->



         

         







      
         






       

        
        <!-- dsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->



   <div class="container">
       <div class="first container1">
           <i class="fa-solid fa-truck"></i>
           <h5>FREE AND FAST DELIVERY</h5>
           <p>Free delivery for all orders over $140</p>
       </div>
       <div class="Second container1">
           <i class="fa-solid fa-headphones"></i>
           <h5>24/7 CUSTOMER SERVICE</h5>
           <p>Friendly 24/7 customer support</p>
       </div>
       <div class="Third container1">
           <i class="fa-regular fa-square-check"></i>
           <h5>MONEY BACK GUARANTEE</h5>
           <p>We reurn money within 30 days</p>
       </div>
   </div>


        


</div>
