<div class="topSectioSlider" *ngIf="!isLoading">
  <header
    id="header"
    class="vh-100 carousel slide"
    data-bs-ride="carousel"
    style="padding-top: 104px"
  >
    <div class="container h-100 d-flex align-items-center carousel-inner">
      <div class="text-center carousel-item active">
        <div>
          <div style="display: flex; flex-direction: column; justify-content: space-around;align-items: center;">
            <img src="../../assets/imagesHome/bagImage.png" style="width: 120px;">
            <h2 class="text-capitalize text-white">best price & offer</h2>
            <h1 class="py-2 fw-bold text-white">new season</h1>
            <a href="#" class="btn mt-3 text-uppercase">buy now</a>
          </div>
        </div>
      </div>
      <div class="text-center carousel-item">
       <div style="display: flex; flex-direction: column; justify-content: space-around;align-items: center;">
        <img src="../../assets/imagesHome/pcImage.png" style="width: 140px;">
          <h2 class="text-capitalize text-white">best price & offer</h2>
          <h1 class="py-2 fw-bold text-white">new season</h1>
          <a href="#" class="btn mt-3 text-uppercase">buy now</a>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header"
      data-bs-slide="prev"
    >
      <i class="ri-arrow-left-s-line" style="font-size: 50px"></i>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header"
      data-bs-slide="next"
    >
      <i class="ri-arrow-right-s-line" style="font-size: 50px"></i>
    </button>
  </header>
</div>

<div class="main">
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading">
    <!-- <button class="btn btn-primary" (click)="getLogId()">getId</button> -->

    <!-- <div class="FirstSectionTop">
      <div class="rightListBar">
        <ul class="listofContent">
          <li *ngFor="let item of combinedArraycategory">
            <a (click)="navigateToProductList(item.category)">{{
              item.category | capitalizeFirst
            }}</a>
          </li>
        </ul>
      </div>

      <div id="carouselExample" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
          <div
            class="carousel-item active"
            id="cursoulDiv"
            data-bs-interval="2000"
          >
            <div class="hero">
              <h1>SnapShop</h1>
              <hr />
              <h3>Up to 10% Voucher</h3>
              <a href="">Shop now -></a>
            </div>
            <div class="imageSection">
              <img
                src="./assets/imagesHome/pcImage.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>

          <div class="carousel-item" id="cursoulDiv">
            <div class="hero">
              <h1>SnapShop</h1>
              <hr />
              <h3>Up to 10% Voucher</h3>
              <a href="">Shop now -></a>
            </div>
            <div class="imageSection">
              <img
                src="./assets/imagesHome/bagImage.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#carouselExample"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#carouselExample"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div> -->

    <!-- slide card -->

    <!-- slide card -->

    <!-- dsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->

    <div class="FlashSaleSection">
      <div class="slider">
        <div class="Day">
          <div class="box"></div>
          <p>Today's</p>
        </div>
        <div class="Tittle">Flash Sale</div>



        <div class="if" *ngIf="numberOfSlidesss">
          <app-product-carousel
            class="app-product"
            [numberOfSlides]="numberOfSlidesss"
          ></app-product-carousel>
        </div>



        <!-- </div> -->
      </div>

      <div class="buttonViewProduct">
        <button class="buttonView" (click)="viewAllProducts()">
          View all Products
        </button>
      </div>

      <div class="horizontalLine"></div>
    </div>

    <div class="FlashSaleSection categorysection">
      <div class="slider">
        <div class="Day">
          <div class="box"></div>
          <p>Categories</p>
        </div>
        <div class="Tittle catTittle">Browse By Category</div>

        <div class="CardList categorycard">
          <div class="" *ngFor="let item of combinedArraycategory">
            <app-category
              (click)="navigateToProductList(item.category)"
              [cateGory]="item.category"
              [iconcategory]="item.icon"
            ></app-category>
          </div>
        </div>

        <div class="horizontalLine-hrcategory"></div>
      </div>
    </div>

    <div class="FlashSaleSection mt-0">
      <div class="slider">
        <div class="Day">
          <div class="box"></div>
          <p>This Month</p>
        </div>

        <div class="tittle-bar-forTop-rated">
          <div class="Tittle">Top Rated Products</div>
          <div class="buttonViewProduct">
            <button class="buttonView" (click)="viewAllProducts()">
              View all Products
            </button>
          </div>
        </div>

        <div class="if" *ngIf="numberOfSlidesRatting != undefined">
          <app-product-carousel
            [numberOfSlides]="numberOfSlidesRatting"
          ></app-product-carousel>
        </div>
      </div>
    </div>

    <!-- 

            enhence exp
         -->

    <div class="Enhance-Your-Product-Section">
      <div class="Left-text-section">
        <p>Category</p>
        <h3>Enhance Your Music Experience</h3>
        <ul class="time">
          <li><span class="number">23</span> <br />Hours</li>
          <li><span class="number">05</span> <br />Days</li>
          <li><span class="number">59</span> <br />minutes</li>
          <li><span class="number">35</span> <br />seconds</li>
        </ul>
        <button class="buy-now-btn">Buy Now</button>
      </div>
      <div class="right-img-section">
        <img src="../assets\CardImg\jbl.png" alt="" />
      </div>
    </div>

    <!-- our product -->

    <!-- Explore our product start  -->

    <div class="FlashSaleSection Explore-product">
      <div class="slider">
        <div class="Day">
          <div class="box"></div>
          <p>Our Products</p>
        </div>

        <div class="tittle-bar-forTop-rated">
          <div class="Tittle">Explore Our Products</div>
        </div>

        <div class="if" *ngIf="numberOfSlidesss">
          <app-product-list
            class="app-product"
            [numberOfSlides]="numberOfSlidesss"
          ></app-product-list>
        </div>
      </div>

      <div class="buttonViewProduct">
        <button class="buttonView" (click)="viewAllProducts()">
          View all Products
        </button>
      </div>
    </div>

    <!-- Explore our product end  -->

    <!-- new Arival start  -->

    <div class="FlashSaleSection newarrivalSec">
      <div class="slider">
        <div class="Day">
          <div class="box"></div>
          <p>Featured</p>
        </div>
        <div class="Tittle catTittle">New Arival</div>

        <div class="newArival">
          <div class="box1 box1left">
            <div class="bg-image" style="margin: 35px">
              <img src="./assets\newAribal\img1.png" />

              <div
                class="mask text-light d-flex justify-content-end flex-column"
                style="margin-left: auto"
              >
                <h4 style="font-weight: bold">PlayStation 5</h4>
                <h5 style="color: rgb(139, 142, 145)">
                  Black and White version of the PS5 coming out on sale.
                </h5>
                <a href="" style="color: white">Shop Now</a>
              </div>
            </div>
          </div>

          <div class="box1">
            <div class="boxright boxrighttop">
              <div class="bg-image" style="margin: 0px 0px 0px 27px">
                <img src="./assets\newAribal\img22.png" />

                <div
                  class="mask text-light d-flex justify-content-end flex-column"
                  style="padding: 0px 0px 25px 0px"
                >
                  <h4 style="font-weight: bold">Women’s Collections</h4>
                  <h5 style="color: rgb(139, 142, 145)">
                    Featured woman collections that give you another vibe.
                  </h5>
                  <a href="" style="color: white">Shop Now</a>
                </div>
              </div>
            </div>
            <div class="boxright">
              <div class="boxright-bottom">
                <div
                  class="bg-image"
                  style="
                    max-width: 22rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <img
                    src="./assets\newAribal\img 5.png"
                    style="text-align: left"
                  />
                  <div
                    class="mask text-light d-flex justify-content-end flex-column"
                    style="padding: 0px 0px 17px 25px"
                  >
                    <h4 style="font-weight: bold">Speakers</h4>
                    <h5 style="color: rgb(139, 142, 145)">
                      Black and White version of the PS5 coming out on sale.
                    </h5>
                    <a href="" style="color: white">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="boxright-bottom">
                <div
                  class="bg-image"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <img
                    src="./assets\newAribal\img 6.png"
                    style="text-align: left"
                  />
                  <div
                    class="mask text-light d-flex justify-content-end flex-column"
                    style="padding: 0px 0px 0px 20px"
                  >
                    <h4 style="font-weight: bold">Perfume</h4>
                    <h5 style="color: rgb(139, 142, 145)">
                      GUCCI INTENSE OUD EDP.
                    </h5>
                    <a href="" style="color: white">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- new Arival end  -->

    <!-- dsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->

    <div class="container">
      <div class="first container1">
        <i class="fa-solid fa-truck"></i>
        <h5>FREE AND FAST DELIVERY</h5>
        <p>Free delivery for all orders over $140</p>
      </div>
      <div class="Second container1">
        <i class="fa-solid fa-headphones"></i>
        <h5>24/7 CUSTOMER SERVICE</h5>
        <p>Friendly 24/7 customer support</p>
      </div>
      <div class="Third container1">
        <i class="fa-regular fa-square-check"></i>
        <h5>MONEY BACK GUARANTEE</h5>
        <p>We reurn money within 30 days</p>
      </div>
    </div>
  </div>
</div>
