

<!-- 
    <div class="container">
        <div class="wrapper">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/41/73/b9/great-executive-golf.jpg">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/41/73/b9/great-executive-golf.jpg">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/41/73/b9/great-executive-golf.jpg">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/41/73/b9/great-executive-golf.jpg">
        </div>
    </div> -->








<div class="main">

    <div class="container">
        <div class="first container1">
            <i class="fa-solid fa-truck"></i>
            <h5>FREE AND FAST DELIVERY</h5>
            <p>Free delivery for all orders over $140</p>
        </div>
        <div class="Second container1">
            <i class="fa-solid fa-headphones"></i>
            <h5>24/7 CUSTOMER SERVICE</h5>
            <p>Friendly 24/7 customer support</p>
        </div>
        <div class="Third container1">
            <i class="fa-regular fa-square-check"></i>
            <h5>MONEY BACK GUARANTEE</h5>
            <p>We reurn money within 30 days</p>
        </div>
    </div>

</div>
