.main{
    height: auto;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 70px;
}

.container{
    display: flex;
    /* background-color: blue; */
    justify-content: space-around;
    align-items: center;
}

.container1{
    /* background-color: red; */
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}

.container2:hover{
    scale: 1.2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}




h5{
    font-size: 15px;
    font-weight: 600;
}

.container p{

    font-size: 11px;

}

.container i{
    border: 8px solid grey;
    padding: 10px;
    border-radius: 35px;
}

@media (max-width:775px){

    .container{
        flex-direction: column;
    }
}

/* kdjsdjfffffffffffffffffffffffffffffffffffff */


/* .container{
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
}


 */

