.card {
    border: none;
}


.card-wrapper {
    display: flex;
    margin: 50px;
}


/* carousel style for buttons  */
.custom-control-prev,
.custom-control-next {
    position: absolute;
    top: -20%;
    width: 5%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.custom-control-prev {
    left: 83%;
}

.custom-control-next {
    right: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 0.5rem;
    height: 2.1rem;
    color: black;

}