/* General card styles */
.card {
  border: none;
}

/* Card wrapper styles */
.card-wrapper {
  display: flex !important;
  margin: 50px;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* background-color: red; */
  box-shadow: none;
}

/* Carousel control button styles */
.custom-control-prev,
.custom-control-next {
  position: absolute;
  top:-7%;
  width: 5%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transform: translateY(-50%);
  z-index: 50;
  
}

.custom-control-prev {
  left: 83%;
}

.custom-control-next {
  right: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 0.5rem;
  height: 2.1rem;
  color: black;
}

@media (max-width: 1200px) {
  .card-wrapper {
    flex: 1 1 30%;
  }
}

@media (max-width: 992px) {
  .card-wrapper {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex: 1 1 100%;
  }
}
