.card {
  border: none;
}

.card-wrapper {
  display: flex !important;
  margin: 50px;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  width: 100px;
  box-shadow: none;
}

.custom-control-prev,
.custom-control-next {
  position: absolute;
  top: -7%;
  width: 5%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transform: translateY(-50%);
  z-index: 50;
}

.custom-control-prev {
  left: 83%;
}

.custom-control-next {
  right: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 0.5rem;
  height: 2.1rem;
  color: black;
}

@media (max-width: 1330px) {
  .card-wrapper {
    flex: 1 1 20%;
  }
}

@media (max-width: 1050px) {
  .card-wrapper {
    flex: 1 1 30%;
  }

  .custom-control-prev,
  .custom-control-next {
    top: -6%;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex: 1 1 100%;
  }

  .card-group {
    max-width: 90%;
    /* background-color: red; */
  }

  .custom-control-prev,
  .custom-control-next {
    top: -2%;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
  .card-wrapper {
    margin-left: 0px;
  }
}
